body {
    margin: 10px;
    padding: 40px;
    color: #061C37;
    background-color: #FFFFFF;
}

pre {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    line-height: 1.2;
    background-color: #FFFFFF;
}

h3 { color: #377BA8; }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #EEEEEE;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}
