{% extends "base.html" %}
{% block container %}

<div class="container">
    <div class="card mt-3 border-info">
        <div class="card-header">
            <h4 class="text text-danger">Features Highlight</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">REST APIs</dt>
                <dd class="text-info col-sm-9">REST APIs for applying the scaling rules from Python-client or web page</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3">Device Information</dt>
                <dd class="text-info col-sm-9">Represent devices with an informative way</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3">Data Visualization</dt>
                <dd class="text-info col-sm-9">Manage scaling rules in a friendly way</dd>
            </dl>
        </div>
    </div>

    <div class="card mt-2 border-info">
        <div class="card-header">
            <h4 class="text text-danger">Web Interface</h4>
        </div>
        <div class="card-body">
            <div class="row text-center text-lg-left">
                <div class="col-lg-3 col-md-4 col-6">
                    <a href='{{ url_for('static', filename='img/01.png') }}' class="d-block mb-4 h-100">
                        <img src="{{ url_for('static', filename='img/01.png') }}" class="img-thumbnail" alt="01">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href='{{ url_for('static', filename='img/02.png') }}' class="d-block mb-4 h-100">
                        <img src="{{ url_for('static', filename='img/02.png') }}" class="img-thumbnail" alt="02">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href='{{ url_for('static', filename='img/03.png') }}' class="d-block mb-4 h-100">
                        <img src="{{ url_for('static', filename='img/03.png') }}" class="img-thumbnail" alt="03">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href='{{ url_for('static', filename='img/04.png') }}' class="d-block mb-4 h-100">
                        <img src="{{ url_for('static', filename='img/04.png') }}" class="img-thumbnail" alt="04">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href='{{ url_for('static', filename='img/05.png') }}' class="d-block mb-4 h-100">
                        <img src="{{ url_for('static', filename='img/05.png') }}" class="img-thumbnail" alt="05">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href='{{ url_for('static', filename='img/06.png') }}' class="d-block mb-4 h-100">
                        <img src="{{ url_for('static', filename='img/06.png') }}" class="img-thumbnail" alt="06">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href='{{ url_for('static', filename='img/07.png') }}' class="d-block mb-4 h-100">
                        <img src="{{ url_for('static', filename='img/07.png') }}" class="img-thumbnail" alt="07">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href='{{ url_for('static', filename='img/08.png') }}' class="d-block mb-4 h-100">
                        <img src="{{ url_for('static', filename='img/08.png') }}" class="img-fluid img-thumbnail" alt="08">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-2 mb-5 border-info">
        <div class="card-header">
            <h4 class="text text-danger">Python Client</h4>
        </div>
        <div class="card-body">
            Install Python packages: <span style="font-family:monospace;">python-unicorn</span> or
            <span style="font-family:monospace;">python3-unicorn</span></li>, then UNICORN service could be reached in Python as the following
            snippet shows:
            <pre class="mypre mt-2"><code class="python">import unicorn
# admin client to UNICORN service
admin_client = unicorn.AdminClient('http://localhost:5000')
# get all functions
admin_client.get()
# get function by name
admin_client.get(name='FE_SCS1:SOLR_D0704_I_to_B')

# api client, the base url + '/api/v1.0'
api_client = unicorn.ApiClient('http://localhost:5000/api/v1.0')

# get function execution result
api_client.get('FE_MEBT:Q_D1057_I_to_G', x=20)
# output: {'result': 3.01323552445068}

# get result from reverse function
api_client.get('FE_MEBT:Q_D1057_G_to_I', x=3.01323552445068)
# output: {'result': 19.99999999999546}
</code></pre>
        </div>
    </div>
</div>

{% endblock %}
