{% extends "base.html" %}
{% block container %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text text-danger">Features Highlight</h4>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal" style="font-size:100%;">
                <dt>REST API</dt>
                <dd class="text-info">REST APIs for applying the scaling rules from Python-client or web page</dd>
                <dt>Device Information</dt>
                <dd class="text-info">Represent devices with an informative way</dd>
                <dt>Data Tracking</dt>
                <dd class="text-info">Manage scaling rules in a friendly way</dd>
            </dl>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text text-danger">Web Interface</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-3">
                    <a href='{{ url_for('static', filename='img/01.png') }}' class="thumbnail">
                        <img src="{{ url_for('static', filename='img/01.png') }}" alt="01">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href='{{ url_for('static', filename='img/02.png') }}' class="thumbnail">
                        <img src="{{ url_for('static', filename='img/02.png') }}" alt="02">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href='{{ url_for('static', filename='img/03.png') }}' class="thumbnail">
                        <img src="{{ url_for('static', filename='img/03.png') }}" alt="03">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href='{{ url_for('static', filename='img/04.png') }}' class="thumbnail">
                        <img src="{{ url_for('static', filename='img/04.png') }}" alt="04">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href='{{ url_for('static', filename='img/05.png') }}' class="thumbnail">
                        <img src="{{ url_for('static', filename='img/05.png') }}" alt="05">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href='{{ url_for('static', filename='img/06.png') }}' class="thumbnail">
                        <img src="{{ url_for('static', filename='img/06.png') }}" alt="06">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href='{{ url_for('static', filename='img/07.png') }}' class="thumbnail">
                        <img src="{{ url_for('static', filename='img/07.png') }}" alt="07">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href='{{ url_for('static', filename='img/08.png') }}' class="thumbnail">
                        <img src="{{ url_for('static', filename='img/08.png') }}" alt="08">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text text-danger">Python Client</h4>
        </div>
        <div class="panel-body">
            Install Python packages: <span style="font-family:monospace;">python-unicorn</span> or
            <span style="font-family:monospace;">python3-unicorn</span></li>, then the REST APIs could be
            evoked in Python as the following:
            <pre class="mypre"><code class="python">import unicorn
# admin client to UNICORN service
admin_client = unicorn.AdminClient('http://localhost:5000')
# get all functions
admin_client.get()
# get function by name
admin_client.get(name='FE_SCS1:SOLR_D0704_I_to_B')

# api client, the base url + '/api/v1.0'
api_client = unicorn.ApiClient('http://localhost:5000/api/v1.0')

# get function execution result
api_client.get('FE_MEBT:Q_D1057_I_to_G', x=20)
# output: {'result': 3.01323552445068}

# get result from reverse function
api_client.get('FE_MEBT:Q_D1057_G_to_I', x=3.01323552445068)
# output: {'result': 19.99999999999546}
</code></pre>
        </div>
    </div>
</div>


{% endblock %}
