{% extends "base.html" %}
{% block container %}

<script>
$(function(){
    $("#func-overview").DataTable({
        "order": [[ 1, "desc" ]],
        "info": false,
    });
});
</script>

<div class="container">
    <h2 class="text-center" style="letter-spacing:6px;">
        UNICORN</h2>
    <p class="lead text-center" style="font-family:monospace;">Interpret the unit between physics and engineering</p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text text-danger">Features Highlight</h4>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal" style="font-size:110%;">
                <dt>Executing</dt>
                <dd class="text-info">REST APIs for applying the scaling rules</dd>
                <dt>Showing</dt>
                <dd class="text-info">Represent devices with an informative way</dd>
                <dt>Tracking</dt>
                <dd class="text-info">Manage scaling rules in a friendly way</dd>
            </dl>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text text-danger">Hit Board</h4>
        </div>
        <div class="panel-body">
            <table id="func-overview" class="table table-hover table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="col-sm-2">Name</th>
                        <th class="col-sm-2">Hit Count</th>
                        <th class="col-sm-3">Last In</th>
                        <th class="col-sm-3">Last Out</th>
                        <th class="col-sm-2">Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in funcs %}
                    <tr>
                        <td><a href={{ url_for('function', name=f.name) }}>{{ f.name }}</a></td>
                        <td>{{ f.invoked }}</td>
                        {% if f.lastin == none %}
                        <td>-</td>
                        {% else %}
                        <td>{{ f.lastin }}</td>
                        {% endif %}
                        {% if f.lastout == none %}
                        <td>-</td>
                        {% else %}
                        <td>{{ f.lastout }}</td>
                        {% endif %}
                        <td>{{ f.timestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
