{% extends "base.html" %}
{% block container %}

<script>
$(function(){
    $("#func-overview").DataTable({
        "order": [[ 1, "desc" ]],
        "info": false,
    });
});
</script>

<div class="container mt-3">
    <h2 class="text-center mt-3" style="letter-spacing:10px;">UNICORN</h2>
    <p class="lead text-center" style="font-family:monospace;">Interpret the units between physics and engineering</p>
    <div class="card my-3 border-info">
        <div class="card-header">
            <h4 class="text text-danger">Hit Board</h4>
        </div>
        <div class="card-body">
            <table id="func-overview" class="table table-hover table-striped table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Hit Count</th>
                        <th>Last In</th>
                        <th>Last Out</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in funcs %}
                    <tr>
                        <td><a href={{ url_for('function', name=f.name) }}>{{ f.name }}</a></td>
                        <td>{{ f.invoked }}</td>
                        {% if f.lastin == none %}
                        <td>-</td>
                        {% else %}
                        <td>{{ f.lastin }}</td>
                        {% endif %}
                        {% if f.lastout == none %}
                        <td>-</td>
                        {% else %}
                        <td>{{ f.lastout }}</td>
                        {% endif %}
                        <td>{{ f.timestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
