{% extends "base.html" %}
{% block container %}

<h3>All Available Functions</h3>
<hr>
<table align="left">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Invoked</th>
        <th>Code</th>
        <th>Last Updated</th>
    </tr>
{% for item in items %}
    <tr>
        <td><a href={{ item.uri }}><strong>{{ item.name }}</strong></a></td>
        <td>{{ item.description }}</td>
        <td>{{ item.invoked }}</td>
        <td><pre><code class="python">{{ item.code }}</code></pre></td>
        <td><tt>{{ item.timestamp }}</tt></td>
    </tr>
{% endfor %}
</table>

{% endblock %}
