{% extends "base.html" %}
{% block container %}

<script src="{{ url_for('static', filename='js/func.js') }}?002"></script>

<script>
$(function() {
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Inspection of Function: <tt style="color:red;">{{ item.name }}</tt>
                <span class="btn-group pull-right">
                    <span title="JSON Arguments" data-toggle="tooltip">
                        <small><input type="text" name="input-arguments"
                                      class="text-info myborder"
                                      placeholder='e.g.: {"x":1, "y":2}...'
                                      id="func-input-args">
                        </small>
                    </span>
                    <span title="Evaluation Output" data-toggle="tooltip">
                        <small>
                               <input id="func-output" name="output results"
                                      class="text-danger myborder"
                                      placeholder='output...'
                                      readonly>
                        </small>
                    </span>
                    <span title='Run' data-toggle="tooltip">
                        <button class="btn btn-default btn-run-function"
                                data-name="{{ item.name }}"
                                data-apiurl="{{ url_for('func', name=item.name) }}">
                            <i class="glyphicon glyphicon-play"></i>
                        </button>
                    </span>
                    <span title="Edit" data-toggle="tooltip">
                        <button class="btn btn-default btn-edit-function"
                                data-toggle="modal"
                                data-title="Update Function"
                                data-target="#update-function-modal"
                                data-name="{{ item.name }}"
                                data-args="{{ item.args }}"
                                data-desc="{{ item.description }}"
                                data-code="{{ item.code }}"
                                data-url="{{ url_for('function', name=item.name) }}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </span>
                </span>
            </h3>
        </div>
        <div class="panel-body">
        <div class="row">
            <div class="col-lg-5">
            {% for k, v in item.items()|sort if k != 'code' %}

            <p class="text-uppercase"><strong>{{ k }}</strong></p>
            {% if k == 'udef' %}
            <pre class="mypre"><code class="python">{{ v }}</code></pre>
            {% elif k == 'uri' %}
            <p><a href={{ v }}>{{ v }}</a></p>
            {% else %}
            <p>{{ v }}</p>
            {% endif %}

            {% endfor %}
            </div>
            <div class="col-lg-7">
                <div>
                    <p class="text-uppercase"><strong>Data Curve (Engineering (X:I)&rarr;Physics (Y:B/G))</strong></p>
                </div>
                {{ data_div|safe }}
                {{ data_script|safe }}
                <div style="margin:0 0 10em 0;"></div>
                <div>
                    <p class="text-uppercase"><strong>Trend (X:T, Y:Hit#)</strong></p>
                </div>
                {{ trend_div|safe }}
                {{ trend_script|safe }}
            </div>
        </div>
        </div>
    </div>
</div>

{% include 'update_function_modal.html' %}

{% endblock %}
