{% extends "base.html" %}
{% block container %}

<script>
$(function(){
    $("#func-all").DataTable();
});
</script>

<div class="container page-header">
    <h2>Functions</h2>
</div>
<div class="container">
<table id="func-all" class="table table-striped table-bordered table-hover" cellspacing="0">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Invoked</th>
        <th>Definition</th>
        <th>Last Updated</th>
    </tr>
    </thead>
    <tbody>
{% for item in items %}
    <tr>
        <td><a href={{ item.uri }}><strong>{{ item.name }}</strong></a></td>
        <td>{{ item.description }}</td>
        <td>{{ item.invoked }}</td>
        <td><pre class="mypre" style="font-size:90%;line-height:100%;"><code class="python">{{ item.udef }}</code></pre></td>
        <td><tt>{{ item.timestamp }}</tt></td>
    </tr>
{% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
